.homepage
{
    background-image: url('../assets/Backgrounds/backgroundimg/homebg.jpg');
    height:90hv; /* Makes sure the body takes the full viewport height */
    width: 100%;
    margin: 0%;
    padding: 1%;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size:cover;
    animation: backgroundFade 45s ease infinite;
    /* animation-duration:55s; */
}
@keyframes backgroundFade {
    0% {
        background-image: url('../assets/Backgrounds/backgroundimg/homebg.jpg');
        /* opacity: 3; */
    }
    50% {
        background-image: url('../assets/Backgrounds/backgroundimg/slider.jpg');
        /* opacity: 3; */
    }
    100% {
        background-image: url('../assets/Backgrounds/backgroundimg/home.jpg');
        /* opacity: 3; */
    }
}


nav
{
    text-align: center;
    /* margin-top: -90px; */
    font-size: large;
}
a
{
text-decoration: none;
color: white;
font-family: "Gowun Batang", serif;
font-weight: 900;
font-style: normal;
/* padding-left: 60px; */
/* font-size: 20px; */
}

/* #nav1
{
    background-color: transparent;
    border: none; 
    width: 65px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
} */
nav 
{
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    /* font-size: 60px; */
}
#book:hover
{
    background-color: #bc8d4b;
    border-color:#bc8d4b ;
}
nav a:hover
{
    /* background-color: #bc8d4b; */
    /* border-color:#bc8d4b ; */
    /* padding:10px; */
    /* border-radius: 25px; */
    /* background-color: transparent; */
    border-bottom: 2px solid #bc8d4b;
    color: #bc8d4b;
}
